<div class="container">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let auxiliar of auxiliars"> {{auxiliar.nome}} <button class="btn btn-primary" routerLink="/auxiliar/alterar/{{auxiliar.id}}">Alterar</button></li>
    </ul>
    <br>
    <button class="btn btn-success" (click)="showPostForm()">Incluir novo auxiliar</button>
    
    
    <div *ngIf="boolPostForm">
        <div class="form-group mb-3">
            <label class="form-label" for="nome">Nome do auxiliar: </label>
            <input class="form form-control" id="nome" #nome required><br>
        </div>
        <div class="form-group mb-3">
            <label for="id_mecanico">Id do mecanico: </label>
            <!-- <input class="form form-control" id="id_equipe" #idEquipe required><br><br> -->
            <select #idMecanico required name="id_mecanico" id="id_mecanico" class="form-select">
                <option *ngFor = "let mecanico of mecanicos" value="{{mecanico.id}}">{{mecanico.nome}}</option>
            </select>
        </div>
        <button class="btn btn-danger" (click)="hidePostForm()">Fechar sem salvar</button>
        <input type="submit" class="btn btn-success mx-2" (click)="save(nome.value, idMecanico.value); nome.value=''; idMecanico.value='';" value="Incluir ">
    </div>
</div>