<div class="container">
    <h2>Alterar carroCorridaPiloto do id: {{carroCorridaPiloto.id}}</h2>
    <form >
        <label for="id_carro">Id do carro: </label>
        <input name="id_carro" class="form form-control" id="id_carro" [(ngModel)]="carroCorridaPiloto.id_carro" required><br>
        <label for="id_corrida">Id da corrida: </label>
        <input name="id_corrida" class="form form-control" id="id_corrida" [(ngModel)]="carroCorridaPiloto.id_corrida" required=""><br>
        <label for="id_piloto">Id do piloto: </label>
        <input name="id_piloto" class="form form-control" id="id_piloto" [(ngModel)]="carroCorridaPiloto.id_piloto" required><br><br>
        <button class="btn btn-danger" (click)="goBack()">Fechar sem salvar</button> 
        <button class="btn btn-success" (click)="alterar()">Salvar</button>
    </form>
</div>

<h1 class="py-3 text-center">Atualizar CarroCorridaPiloto</h1>

<div class="container my-3">
    <div class="card" style="width: 32rem; margin: auto; float: none;">
        <div class="card-body register-form">
            <form >
                <div>
                    <label class="form-label" for="equipe">Carro participante:</label>
                    <div class="form-group mb-3">
                        <select name="carro" id="carro" class="form-select" [(ngModel)]="carroCorridaPiloto.id_carro" required> 
                            <option *ngFor="let carro of carros" value="{{carro.id}}" selected name="id_carro">{{carro.descricao}}</option>
                        </select>
                    </div>       
                    <label class="form-label" for="piloto">Piloto participante:</label>
                    <div class="form-group mb-3">
                        <select name="piloto" id="piloto" class="form-select" [(ngModel)]="carroCorridaPiloto.id_piloto" required> 
                            <option *ngFor="let piloto of pilotos" value="{{piloto.id}}" selected name="id_piloto">{{piloto.nome}}</option>
                        </select>
                    </div>       
                    <label class="form-label" for="corrida">Corrida:</label>
                    <div class="form-group mb-3">
                        <select name="corrida" id="corrida" class="form-select" [(ngModel)]="carroCorridaPiloto.id_corrida" required> 
                            <option *ngFor="let corrida of corridas" value="{{corrida.id}}" selected name="id_corrida">{{corrida.descricao}}</option>
                        </select>
                    </div>                     
                    <button class="btn btn-danger" (click)="goBack()">Fechar sem salvar</button> 
                    <button class="btn btn-success mx-2" (click)="alterar()">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>