<div class="container">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let piloto of pilotos"> {{piloto.nome}} <button class="btn btn-primary" routerLink="/piloto/alterar/{{piloto.id}}">Alterar</button></li>
    </ul>
    <br>
    <button class="btn btn-success" (click)="showPostForm()">Incluir novo piloto</button>
    
    <div *ngIf="boolPostForm">
        <label for="piloto-nome">Nome do piloto: </label>
        <input class="form form-control" id="piloto-nome" #pilotoNome required><br>
        <!--<label for="id-equipe">Id da equipe do piloto: </label>
        <input type="number" class="form form-control" id="id-equipe" #idEquipe required=""><br>-->

        <label class="form-label" for="ìd_equipe">Equipe do piloto:</label>
        <div class="form-group mb-3">
            <select class="form-select" #idEquipe required> 
                <option *ngFor="let equipe of equipes" value="{{equipe.id}}" name="id_equipe">{{equipe.nome}}</option>
            </select>
        </div>
        
        
        <button class="btn btn-danger" (click)="hidePostForm()">Fechar sem salvar</button>
        <input type="submit" class="btn btn-success" (click)="save(pilotoNome.value, idEquipe.value); pilotoNome.value=''; idEquipe.value='';" value="Incluir ">
    </div>
</div>




