<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome mecânico</th>
            <th scope="col">Quantidade de auxiliares</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let mecanicoAuxiliar of mecanicosAuxiliares">
            <th scope="row">{{ mecanicoAuxiliar.id }}</th>
            <td>{{ mecanicoAuxiliar.nome }}</td>
            <td>{{ mecanicoAuxiliar.quantidade_auxiliares }}</td>
        </tr>
        </tbody>
  </table>
</div>