
<div class="container">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let mecanico of mecanicos"> {{mecanico.nome}} <button class="btn btn-primary" routerLink="/mecanico/alterar/{{mecanico.id}}">Alterar</button></li>
    </ul>
    <br>
    <button class="btn btn-success" (click)="showPostForm()">Incluir novo mecanico</button>
    
    
    <div *ngIf="boolPostForm">
        <label for="nome">Nome do mecanico: </label>
        <input class="form form-control" id="nome" #nome required><br>
        <label for="id_equipe">Id da equipe: </label>
        <input class="form form-control" id="id_equipe" #idEquipe required=""><br><br>
        <button class="btn btn-danger" (click)="hidePostForm()">Fechar sem salvar</button>
        <input type="submit" class="btn btn-success" (click)="save(nome.value, idEquipe.value); nome.value=''; idEquipe.value='';" value="Incluir ">
    </div>
</div>
