 <h1 class="py-3 text-center">Incluir Auxiliar</h1>

 <div class="container my-3">
     <div class="card" style="width: 32rem; margin: auto; float: none;">
         <div class="card-body register-form">
             <form >
                 <div>
                     <div class="form-group mb-3">
                         <label class="form-label" for="nome">Nome</label>
                         <input
                         type="text"
                         class="form-control"
                         name="nome"
                         [(ngModel)]="auxiliar.nome"
                         placeholder="Ex. Marinho"
                         />
                     </div>
                     <div class="form-group mb-3">
                         <label class="form-label" for="mecanico">Selecione um mecanico:</label>
                         <select id="mecanico" name="mecanico" class="form-select" [(ngModel)]="auxiliar.id_mecanico" required> 
                             <option *ngFor="let mecanico of mecanicos" value="{{mecanico.id}}" name="id_mecanico">{{mecanico.nome}}</option>
                         </select>
                     </div>     
                     <div class="form-group mb-3">
                         <label class="form-label" for="equipe">Selecione uma equipe:</label>
                         <select  name="equipe" id="equipe" class="form-select" [(ngModel)]="auxiliar.id_equipe" required>
                             <option *ngFor="let equipe of equipes" value="{{equipe.id}}" name="id_equipe">{{equipe.nome}}</option>
                         </select>
                     </div>               
                     <button class="btn btn-danger" (click)="goBack()">Fechar sem salvar</button> 
                     <button class="btn btn-success mx-2" (click)="alterar()">Salvar</button>
                 </div>
             </form>
         </div>
     </div>
 </div>