<div class="container">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let carroCorridaPiloto of carroCorridaPilotos"> {{carroCorridaPiloto.id}} <button class="btn btn-primary" routerLink="/carroCorridaPiloto/alterar/{{carroCorridaPiloto.id}}">Alterar</button></li>
    </ul>
    <br>
    <button class="btn btn-success" (click)="showPostForm()">Incluir novo carroCorridaPiloto</button>
    
    <div *ngIf="boolPostForm">

        <label class="form-label" for="id_carro">Carro participante:</label>
        <div class="form-group mb-3">
            <select class="form-select" [(ngModel)]="carro.id" required> 
                <option *ngFor="let carro of carros" value="{{carro.id}}" name="id_carro">{{carro.descricao}}</option>
            </select>
        </div>

        <label class="form-label" for="id_carro">Piloto participante:</label>
        <div class="form-group mb-3">
            <select name="select" class="form-select" [(ngModel)]="piloto.id" required> 
                <option *ngFor="let piloto of pilotos" value="{{piloto.id}}" name="id_piloto">{{piloto.nome}}</option>
            </select>
        </div>

        <label class="form-label" for="id_carro">Corrida:</label>
        <div class="form-group mb-3">
            <select class="form-select" [(ngModel)]="corrida.id" required> 
                <option *ngFor="let corrida of corridas" value="{{corrida.id}}" name="id_corrida">{{corrida.descricao}}</option>
            </select>
        </div>

        <button class="btn btn-danger" (click)="hidePostForm()">Fechar sem salvar</button>
        <input type="submit" class="btn btn-success" (click)="save()" value="Incluir ">
    </div>
</div>