<div class="container my-3">
    <h1 class="text-center">Alterar Carro</h1>
    <div class="card mt-3" style="width: 32rem; margin: auto; float: none;">
        <div class="card-body register-form">
            <form >
                <div>
                    <div class="form-group mb-3">
                        <label class="form-label" for="carro-descricao">Descricao do carro:</label>
                        <input
                        type="text"
                        class="form-control"
                        id="carro-descricao"
                        value="{{carro.descricao}}"
                        [(ngModel)]="carro.descricao"
                        name="carro-descricao"
                        required
                        />
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" for="carro-placa">Número do carro:</label>
                        <input
                        type="number"
                        class="form-control"
                        id="carro-numero"
                        [(ngModel)]="carro.numero"
                        name="carro-numero"
                        value="{{carro.numero}}"
                        required
                        />
                    </div>
                    <div>
                        <label class="form-label" for="equipe">Equipe do carro:</label>
                        <div class="form-group mb-3">
                            <select class="form-select"  id="equipe" [(ngModel)]="carro.id_equipe" name="equipe"> 
                                <option selected> Selecione a equipe</option>
                                <option *ngFor="let equipe of equipes" value="{{equipe.id}}" name="id_equipe">{{equipe.nome}}</option>
                            </select>
                        </div>
                    </div>       
                        <button class="btn btn-danger" (click)="goBack()">Fechar sem salvar</button> 
                        <button class="btn btn-success mx-2" (click)="alterar()">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>